// redefined variables first
$container-max-widths: (
  sm: 576px,
  md: 720px,
  lg: 900px,
  xl: 1000px,
  xxl: 1120px
) !default;

$primary: rgb(255, 33, 49);
$dark: rgb(18, 18, 18);

// custom styles
.card{
  height: 100%;
}
.navbar-dark .navbar-nav .nav-link{
  color: #fff;
}


// import variables to add custom theme, it uses the functions file
@import './bootstrap-5.0.2/scss/_functions';
@import './bootstrap-5.0.2/scss/_variables';

$custom-theme-colors: (
    "altlight": rgb(233, 203, 205),
    "altdark": rgb(30, 30, 30),
    "darkprimary": rgb(204, 26, 39),
    "lightprimary": rgb(255, 99, 110),
);

.navbar-dark .navbar-nav .nav-link{
  color: #fff;
}

$theme-colors: map-merge($theme-colors, $custom-theme-colors);


@import './bootstrap-5.0.2/scss/bootstrap';